
* {
    font-family: Figtree, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

body {
    display: grid;
    place-items: center;
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
}

.container {
    width: 384px;
    height: 522px;
    display: flex;
    align-items: left;
    flex-direction: column;
    text-align: left;
    border-radius: 20px;
    border: 1px, solid, black;
    box-shadow: 8px 8px 0px 0px black;
    background-color: white;
    gap: 24px;
    padding: 24px;
    
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-img {
    height: 200px;
    width: 336px;
    border-radius: 10px;
    
}

.card-label {
    max-width: max-content;
    font-size: 16px;
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    padding: 4px 12px 4px 12px;
    border-radius: 4px;
    line-height: 21px;
    
}

.date {
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
}

h1 {
    font-size: 24px;
    font-weight: 800;
}

.card-heading:hover{
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}
.card-subtext {
    font-size: 16px;
    color:  hsl(0, 0%, 42%);
    line-height: 24px;
}
.avatar { 
    width: 32px;
    height: 32px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 800;
}

.heaidng {
    line-height: 36px;
}


@media only screen and (max-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}